# Environment variables
.env

# CDK
cdk.out/
cdk.context.json

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.prof

# IDE
.idea/
.vscode/
*.swp
*.swo

# go.sum should be committed
!go.sum

# CDK asset staging directory
.cdk.staging

# Executables
guess-who-infra
**/bootstrap